extends layout

block content
  header
    h1= title.toUpperCase()
    h2 Count to #{Math.ceil(memberCount / 1000) * 1000}

  main 
    .blob 
      p= memberCount
    p.milestone#milestone10k Mar 25: 10,000
    p.milestone#milestone9k Mar 18: 9,000
    p.milestone#milestone8k Mar 13: 8,000
    p.milestone#milestone7k Mar 03: 7,000
    p.milestone#milestone6k Feb 22: 6,000
    p.milestone#milestone5k Feb 10: 5,000
    p.milestone#milestone4k Feb 03: 4,000
